{% from 'bootstrap/nav.html' import render_nav_item %}
{% from 'bootstrap/utils.html' import render_messages %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Inside Code</title>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}">
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light mb-4 bg-primary text-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav navbar-center navbar-brand mr-auto text-light">
                    {{ render_nav_item('main.index', 'Inside Code', use_li=True) }}
                </ul>
            </div>
        </nav>
    </div> 
    <main class="container">
        {{ render_messages(container=False, dismissible=True) }}
        {% block content %}{% endblock %}
    </main>

    <footer class="fixed-bottom text-center footer">
        {% block footer %}
            <p> &copy; 2021–<script>document.write(new Date().getFullYear())</script> <a href="http://insidecode.me" title="Written by
                Deepak P Jose">www.insidecode.me</a>
                <a href="https://github.com/deepakpjose">GitHub</a>
                <a href="https://twitter.com/deepakpjose">Twitter</a>
            </p>
        {% endblock %}
    </footer>

    {{ bootstrap.load_js() }}
</body>
</html>
