{% extends 'base.html' %}

{% block content %}
    <main role="main">
      <div class="row">
        <div class="col-md-12 blog-main">
          <div class="blog-post">
              <h2 class="blog-post-title">{{ post.header }}</h2>
              <hr>
              <img id="postImg" src="{{ post.url }}" class="img-fluid rounded mx-auto d-block" alt="Responsive image">
              <hr>
              <p>{{ post.description }}</p>
              <p>{{ markup }}</p>
          </div><!-- /.blog-post -->

        <div class="text-center">
	          <a href="https://twitter.com/intent/tweet?text={{ post.header }}%20{{ url_for('.post', id=post.id, header=post.header, _external=True) }}%20by%20@deepakpjose">
                <button type="button" class="btn btn-primary">Tweet</button>
            </a>

	          <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ url_for('.post', id=post.id, header=post.header, _external=True) }}">
                <button type="button" class="btn btn-primary">LinkedIn</button>
            </a>
          </div>
          <br>
          <br>
          <br>
        </div><!-- /.blog-main -->
      </div><!-- /.row -->

    </main><!-- /.container -->
{% endblock %}
